<!DOCTYPE html>
<html lang="es">
  <%- include ('./partials/header.html')%>
  <body>
    <!-- NAV -->
    <%- include ('./partials/navigation.html')%>
    <!-- BODY -->
    <div class="main-logo">
      <img class="logo" src="./img/Node.js_logo.svg" alt="Node-JS" />
    </div>
    <div class="container py-5">
      <section>
        <article>
          <h1 class="text-center h1 py-2">About Node.JS</h1>
          <p class="h4">As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications. In the following "hello world" example, many connections can be handled concurrently. Upon each connection, the callback is fired, but if there is no work to be done, Node.js will sleep.</p>
        </article>
      </section>

    </div>
    <!-- FOOTER -->
    <%- include ('./partials/footer.html')%>
  </body>
</html>
