<!DOCTYPE html>
<html lang="es">
  <%- include ('./partials/header.html')%>
  <body>
    <!-- NAV -->
    <%- include ('./partials/navigation.html')%>
    <!-- BODY -->
    <div class="main-logo">
      <img class="logo" src="./img/Node.js_logo.svg" alt="Node-JS" />
    </div>
    <!-- FOOTER -->
    <%- include ('./partials/footer.html')%>
  </body>
</html>
