<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/540px-Npm-logo.svg.png"
        alt=""
        width="auto"
        height="32"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="./"><i class="fas fa-home mx-2"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"
            ><i class="fas fa-phone mx-2"></i>Contact</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"
            ><i class="fas fa-info mx-2"></i>About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
